{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <h1>Оказание медицинской помощи! (BackEnd)</h1>
      <p></p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
	<form action="/CDoctor/Read" method="GET">
  
    <input type="submit" value="Тест" />
</form>
    </div>
  </div>
</div>

{{template "footer.html" .}}
